/* font family*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.fw-900 {
  font-weight: 900;
}

/*color theme (changed from default bootstrap colors) */
.bg-color-1 {
  background-color: #023047;
}

.bg-color-2 {
  background-color: #8ECAE6;
}

.bg-color-3 {
  background-color: #FB8500;
}

.bg-color-4 {
  background-color: #FFB703;
}

.text-color-1 {
  color: #023047;
}

.text-color-2 {
  color: #8ECAE6;
}

.text-color-3 {
  color: #FB8500;
}

.text-color-4 {
  color: #FFB703;
}

/* nav bar */

.navbar {
  border-bottom: 2px solid #FB8500;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-link:hover {
  font-weight: bold;
  color: #FFB703;
}

.nav-link:focus {
  color: #FB8500;
}

.nav-title:hover {
  color: #FFB703;
  font-weight: 900;
}

.nav-icon i:nth-child(2) {
  display: none;
}

.nav-icon:hover i:nth-child(1) {
  display: none;
}

.nav-icon:hover i:nth-child(2) {
  display: block;
}

.navbar-nav .show > .nav-link, .nav-link.active {
  color: #FB8500;
}

.btn-lang {
  border: none;
}

.text-collapse{
  font-style: normal;
}

.nav-item a {
  text-decoration: none;
}

.lang-menu {
  border: 1px solid #FB8500;
}

.btn-search {
  background-color: #FB8500;
  border: none;
  color:#023047;
}

.btn-search:hover {
  background-color: #FFB703;
  color: #023047;
  border: none;
}

.btn-search:focus {
  background-color: #FFB703;
  color: #023047;
  border: none;
}

.btn-search:active {
  background-color: #FFB703;
  color: #023047;
  border: none;
}

/* slideshow (carousel) */

.slideshow-item {
  border: 5px solid #FB8500;
}

.screencap-caption {
  border-radius: 5px;
}

.carousel-control-prev-icon {
  background-color: #FB8500;
}

.carousel-control-next-icon {
  background-color: #FB8500;
}

.carousel-caption {
  max-width: 100%;
  width:100%;
  bottom: 0;
  height: 20%;
  background-color: white;
  left: 0;
  border-radius: 0px;
  opacity: 0.6;
  color:#023047;
}

/* movies list */

.poster {
  position: relative;
  text-align: center;
}

.movie-poster-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
  opacity: 0;
}

.poster:hover .movie-poster-text {
  opacity: 1;
}

.movie-poster {
  transition: .2s ease;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #FB8500;
  color: #FB8500;
  opacity: 1;
}

.poster:hover .movie-poster {
  background-color: #FB8500;
  opacity: 0.2;
}

.movie-container {
  border: 2px solid #8ECAE6;
}

.dropdown-box {
  background-color: #FFFFFF;
  border: 1px solid #FB8500;
  color: #023047;
}

.dropdown-option {
  background-color: #FFFFFF;
}

.modalButton {
  border: none;
}

/* movie info */

.rating {
  border: 2px solid #023047;
  margin-left: 12px;
}

/* footer */

.footer {
  border-top: 2px solid #FB8500;
}

.footer-text:hover {
  color: #FFB703;
}

.btn a {
  text-decoration: none;
}

/* account */

.btn-account {
  background-color: #FB8500;
  border: 1px solid #FFB703;
}

.btn-account:hover {
  background-color: #FFB703;
  border: 1px solid #FFB703;
  font-weight: bold;
}

.btn-account:focus {
  background-color: #FFB703;
  border: 1px solid #FFB703;
  font-weight: bold;
}

.btn-account:active {
  background-color: #FB8500;
  border: 1px solid #FFB703;
}

/* contact */

.btn-contact {
  background-color: #FB8500;
  border: none;
  color:#023047;
}

.btn-contact:hover {
  background-color: #FFB703;
  color: #023047;
  border: none;
}

.btn-contact:focus {
  background-color: #FFB703;
  color: #023047;
  border: none;
}

.btn-contact:active {
  background-color: #FFB703;
  color: #023047;
  border: none;
}
